/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.row{
  margin-right: 0px;
  margin-left: 0px;
}






 .images-text img{
  width: 100%;
  height: 610px;
 }

.bgc {
  background-color: #c2073f;

}
.nav{
  color: #ffffff;
  font-size: 15px;

}
.customhover a:hover{
  background: none !important;
  text-decoration: underline !important;
  color:white;
}
.head{
  margin-top: 25px;
}

/*<----javascript---->*/
.modal-backdrop{
  z-index: 0;
}
.modal-content{
  background-color: #c2073f;
}

.Heading{
  line-height: 4px;
  text-align: center;
}
.headings{
 color: #c2073f;
    font-family: 'Sacramento', cursive !important;
    margin-bottom: -9px;
}
.img-circle{
  height: 200px;
  width: 200px;
}

.img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.imgs{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.pichead{
  font-family: Qwigley;
  font-size: 30px;
  width: 165px;
}
.paraghraph{
  line-height: 21px;
  font-size: 16px;
  text-align: justify;
  font-family: crimsontext;
}
.headings1{
  color: #ffffff;
  font-family: Qwigley;
  padding-top: 10px;

}

.h_lapi{
  color: white;

}
.p_lapi{
  color: white;
}
.zoom {


  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.lH_filter{
  line-height: 0px;
}

/*.dress1{
  height: 550px;
  width: 330px;
}*/
/*.dress2{
  height: 550px;
  width: 330px;
}
.dress3{
  height: 550px;
  width: 330px;
}*/
.mark{
  margin-top: 30px;
  height: 21px;
}
.p_mark{
  line-height: 1.5;
  font-size: 15px;
}
/**/


  /*  border-bottom-left-radius: 235px;
    border-bottom-right-radius: 235px;
    border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-radius: 100%;
}*/

/*
.streetb2{
  position: absolute;

  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
}*/
{/*#shah1{
  display: none;
}
.shah2:hover+ #shah1 {
  display: block;
}*/}


.mobi{
  border-color: 2px solid red !important;

}
.scrollbar{
  height: 275px;

  overflow-x: scroll;
}


 #style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #c2073f;
}


.border_custom{
  border:1px solid gray !important;

}


@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
  .morebtn{
          padding: 0px;
          border-radius: 15px;
          width: 90%;
          float: right;
  }
  .h_dress{
      font-family: Qwigley;
      font-size: 30px;
      width: 280%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .morebtn{
         padding: 0px;
    border-radius: 15px;
    width: 22%;
    float: left;
    margin-left: 5%;
  }
  .h_dress{
      font-family: Qwigley;
      font-size: 30px;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
  .morebtn{
             padding: 0px;
          border-radius: 15px;
          width: 90%;
          margin-left: 45%;
  }
  .h_dress{
      font-family: Qwigley;
      font-size: 30px;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .morebtn{
         border-radius: 15px;
         width: 90%;
          margin-left: 31%;
  }
  .h_dress{
      font-family: Qwigley;
      font-size: 30px;
  }
}




.sp_h_1{
  text-align: center;
  font-family: Qwigley;
}
.sp_h_2{
  font-family: Qwigley;
  display: inline-block;
}
.free{
  color: #ffffff !important;
}

.benifits{
  font-size: 100%;
}
.fab{
  font-size: 250%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;

  border-radius: 50%;
  border:1px solid #c2073f;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #c2073f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.circle1{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: red;
  background-color: red;
  display: inline-block;
}
.circle2{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: yellow;
  background-color: yellow;
  display: inline-block;
}
.circle3{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: green;
  background-color: green;
  display: inline-block;
}
.circle4{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: #99a6b3;
  background-color: #99a6b3;
  display: inline-block;
}
.circle5{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: #2f445a;
  background-color: #2f445a;
  display: inline-block;
}
.circle6{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: brown;
  background-color: brown;
  display: inline-block;
}
.fas{
  font-size: 10px;
}


.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #c2073f;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 95%;
    margin-bottom: 10px;
  }

}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}



/*.formBox{
  margin-top: 90px;
  padding: 50px;
}
*/.formBox  h1{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
}
.inputBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.inputBox .inputText{
  position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #00bcd4;

}
textarea{
  height: 100px !important;
}
.button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #c2073f;
    color: #fff;
}

.disabledButton {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: gray;
    color: #fff;
}

.labelcustome{
    color: #c2073f;
    border:1px solid #c2073f;
    width: 60%;
    text-align: center;
}

input[type="file"] {
    display: none;
}
.checkout>button{
  margin-right: 23px;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    content:''
}
.checkout>button:after{
  content:'Pay';
  visibility: visible;
}
.Heading22{
  line-height: 4px;
  text-align: center;
}
.headings22{
  color: #c2073f;
  font-family: Qwigley;
  font-size: 40px;
  margin-bottom: 0px;
}
.img-circle22{
  height: 200px;
  width: 200px;
}

.img22{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.imgs22{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.pichead22{
  font-family: Qwigley;
  font-size: 30px;
  width: 165px;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
    .googleapp{
        width: 70%;
        margin-left: 21%;
      }
    .google2{
            margin-right: 0%;
      }
    }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .googleapp{
            width : 85%;
            margin-left :  15%;
      }
  .google2{
            margin-right: 0%;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
  .googleapp{
            width: 100%;
            margin-left: 3%;
      }
      .google2{
            margin-right: 2%;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .googleapp{
            width : 85%;
            margin-left :  10%;
            width : 85%;
            margin-left :  11%;
            text-align: center;
      }
  .google2{
            margin-right: 2%;
    }
}
