/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

/*html,body
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x:hidden;
}
*/


.App{
  overflow: hidden
}



 .images-text img{
  width: 100%;
  height: 610px;
 }

.bgc {
  background-color: #c2073f;

}

.customhover a:hover{
  background: none !important;
  text-decoration: underline !important;
  color:white;
}

.scrolling_form{
     overflow-y: scroll;
    height: 500px;
    padding-right: 1px;

}
.scrolling_form::-webkit-scrollbar {
    color: #cb9d6c;
}
.alacountup{
  font-size: 18px;
  color: #cb9d6c;
  font-family: playfair display;
}
.btnalignup{
      margin-left: 3%;
    margin-top: 1%;
}
/*<----javascript---->*/
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
  .modal-title {
      margin: 0;
      line-height: 1.42857143;
      font-size: 40px;
      margin-bottom: -3%;
      margin-left: -6px;
      color: #353535;
  }
  .modal-header .close {
      /* margin-top: 0px; */
      font-size: 45px;
      color: #cb9d6c;
  }
  .modal-backdrop{
    z-index: 0;
  }
  .modal-content{
    background-color: #ffffff;
  }
  .modal-header{
    border: none;
  }
  .modal-dialog{
      width: 400px;
      margin: 30px auto;
  }
}
@media only screen and (min-device-width : 786px) and (max-device-width : 1023px){
  .modal-title {
      margin: 0;
      line-height: 1.42857143;
      font-size: 40px;
      margin-bottom: -3%;
      margin-left: -6px;
      color: #353535;
  }
  .modal-header .close {
      /* margin-top: 0px; */
      font-size: 45px;
      color: #cb9d6c;
  }
  .modal-backdrop{
    z-index: 0;
  }
  .modal-content{
    background-color: #ffffff;
  }
  .modal-header{
    border: none;
  }
  .modal-dialog{
      width: 45%;
      margin: 30px auto;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
  .modal-title {
      margin: 0;
      line-height: 1.42857143;
      font-size: 40px;
      margin-bottom: -3%;
      margin-left: -6px;
      color: #353535;
  }
  .modal-header .close {
      /* margin-top: 0px; */
      font-size: 45px;
      color: #cb9d6c;
  }
  .modal-backdrop{
    z-index: 0;
  }
  .modal-content{
    background-color: #ffffff;
  }
  .modal-header{
    border: none;
  }
  .modal-dialog{
      width: 400px;
      margin: 30px auto;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1920px){
  .modal-title {
      margin: 0;
      line-height: 1.42857143;
      font-size: 40px;
      margin-bottom: -3%;
      margin-left: -6px;
      color: #353535;
  }
  .modal-header .close {
      /* margin-top: 0px; */
      font-size: 45px;
      color: #cb9d6c;
  }
  .modal-backdrop{
    z-index: 0;
  }
  .modal-content{
    background-color: #ffffff;
  }
  .modal-header{
    border: none;
  }
  .modal-dialog{
      width: 400px;
      margin: 30px auto;
  }
}

.Heading{
  line-height: 4px;
  text-align: center;
}

.img-circle{
  height: 200px;
  width: 200px;
}

.img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.imgs{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.pichead{
  font-family: Qwigley;
  font-size: 30px;
  width: 165px;
}
.paraghraph{
  line-height: 21px;
  font-size: 16px;
  text-align: justify;
  font-family: crimsontext;
}
.headings1{
  color: #ffffff;
  font-family: Sacramento;
  padding-top: 10px;

}

.h_lapi{
  color: white;

}
.p_lapi{
  color: white;
  font-family: crimsontext;
  letter-spacing: 1px;
}
.zoom {


  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.lH_filter{
  line-height: 0px;
  font-family: Tajawal;
  font-size: 15px;
}

/*.dress1{
  height: 550px;
  width: 330px;
}*/
/*.dress2{
  height: 550px;
  width: 330px;
}
.dress3{
  height: 550px;
  width: 330px;
}*/
.mark{
  margin-top: 30px;
  height: 21px;
}
.p_mark{
  line-height: 1.5;
  font-size: 15px;
}
/**/


  /*  border-bottom-left-radius: 235px;
    border-bottom-right-radius: 235px;
    border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-radius: 100%;
}*/

/*
.streetb2{
  position: absolute;

  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
}*/
{/*#shah1{
  display: none;
}
.shah2:hover+ #shah1 {
  display: block;
}*/}


.mobi{
  border-color: 2px solid red !important;

}
/*.scrollbar{
  height: 275px;

  overflow-x: scroll;
}*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .scrollbar{
    height: 275px;

    overflow-x: scroll;
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
  .scrollbar{
    height: 275px;

    overflow-x: scroll;
  }
}


 #style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #c2073f;
}


.border_custom{
  border:1px solid gray !important;

}


@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
  .morebtn{
          padding: 0px;
          border-radius: 15px;
          width: 50%;
          
  }
  .h_dress{
      font-family: Playfair Display;
      font-size: 20px;
      
  }
  .h_btn{
      font-family: Qwigley;
      font-size: 30px;
  }
  .h_delet{
      font-family: Qwigley;
      font-size: 30px;
      margin-left: 445%;
  }
  .topmargin{
      margin-top: 50%;
  }
  .userstar{
     color: #cb9d6c;
    font-size: 20px;
    margin-left: 8%;
    margin-top: -1%;
  }
  .userstar_rating{
      padding: 0; 
      margin-top: -9%;
      margin-left: 40%;
      color: #353535;
       font-family: playfair display;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .morebtn{
         padding: 0px;
    border-radius: 15px;
    width: 22%;
    float: left;
    margin-right: 5px;
  }
  .h_dress{
      font-family: Playfair Display;
      font-size: 20px;
  }
  .h_btn{
      font-family: Qwigley;
      font-size: 30px;
  }
  .h_delet{
      font-family: Qwigley;
      font-size: 30px;
  }
  .topmargin{
     
  }
  .userstar{
    color: #cb9d6c;
    font-size: 20px;
    margin-left: 16%;
    margin-top: -3%;
  }
  .userstar_rating{
      padding: 0; 
      margin-top: -11%;
      margin-left: 54%;
      color: #353535;
       font-family: playfair display;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
  .morebtn{
             padding: 0px;
          border-radius: 15px;
          width: 135%;
         
  }
  .h_dress{
      font-family: Playfair Display;
      font-size: 20px;
  }
  .h_btn{
      font-family: Qwigley;
      font-size: 30px;
  }
  .h_delet{
      font-family: Qwigley;
      font-size: 30px;
  }
  .topmargin{
     
  }
  .userstar{
      color: #cb9d6c;
      font-size: 20px;
      margin-left: 8%;
      margin-top: -2%;
  }
  .userstar_rating{
        padding: 0;
        margin-top: -16%;
        margin-left: 57%;
        color: #353535;
       font-family: playfair display;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .morebtn{
         border-radius: 15px;
         width: 90%;
          /*margin-left: 31%;*/
  }
  .h_dress{
      font-family: Playfair Display;
      font-size: 20px;
  }
  .h_btn{
      font-family: Qwigley;
      font-size: 30px;
  }
  .h_delet{
      font-family: Qwigley;
      font-size: 30px;
  }
  .topmargin{
      
  }
  .userstar{
    color: #cb9d6c;
    font-size: 20px;
    margin-left: 6%;
    margin-top: -1%;
    margin-bottom: 10%;
  }
  .userstar_rating{
    padding: 0;
    margin-top: -22.5%;
    margin-left: 47%;
    color: #353535;
    font-family: playfair display;
    }
}


@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
  .OH{
   margin-top: -13.5%;
   margin-left: 52%;
  }
  .btn_profile{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
       font-size: 15px;
      width: 100%;
  }
  .btn_updress{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
       font-size: 15px;
      width: 100%;
      margin-top: 10%;
  }
  .profile_editHead{
     font-family: playfair display;
     font-size: 45px;
     color: #353535;
  }
  .rental_btn{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 13px;
      width: 100%;
      margin-left: -3%;
      margin-top: 7%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
  .OH{
   margin-top: -19.5%;
   margin-left: 50%;
  }
  .btn_profile{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      width: 100%;
       font-size: 13px;
  }
  .btn_updress{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      width: 100%;
       font-size: 13px;
  }
  .profile_editHead{
   font-family: playfair display;
    font-size: 35px;
    color: #353535;
    margin-left: -25%;
  }
  .rental_btn{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 13px;
      width: 152%;
      margin-left: -35%;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
  .OH{
   margin-top: -25.5%;
   margin-left: 74%;
  }
  .btn_profile{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
       font-size: 15px;
      width: 150%;
      margin-left: 40%;
  }
  .btn_updress{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      width: 89%;
       font-size: 15px;
      margin-left: 35%;
  }
  .profile_editHead{
     font-family: playfair display;
    font-size: 43px;
    color: #353535;
    margin-left: 6%;
  }
  .rental_btn{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 13px;
      width: 100%;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .OH{
     margin-top: -21.5%;
     margin-left: 74%;
  }
  .btn_profile{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 15px;
      width: 115%;
  }
  .btn_updress{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 15px;
      width: 89%;
      margin-left: 15%;
  }
  .profile_editHead{
     font-family: playfair display;
    font-size: 45px;
    color: #353535;
    margin-left: 5%;
  }
  .rental_btn{
      font-family: playfair display;
      color: #9A88A2;
      border: none;
      padding: 15px;
      font-size: 13px;
      width: 100%;
  }

}





.sp_h_1{
  text-align: center;
  font-family: Qwigley;
}
.sp_h_2{
  font-family: Qwigley;
  display: inline-block;
}
.free{
  color: #ffffff !important;
}

.benifits{
  font-size: 100%;
}
.fab{
  font-size: 250%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;

  border-radius: 50%;
  border:1px solid #c2073f;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

 When the radio button is checked, add a blue background 
.container input:checked ~ .checkmark {
  background-color: #c2073f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  /*position: absolute;
  display: none;*/
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.circle1{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: red;
  background-color: red;
  display: inline-block;
}
.circle2{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: yellow;
  background-color: yellow;
  display: inline-block;
}
.circle3{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: green;
  background-color: green;
  display: inline-block;
}
.circle4{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: #99a6b3;
  background-color: #99a6b3;
  display: inline-block;
}
.circle5{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: #2f445a;
  background-color: #2f445a;
  display: inline-block;
}
.circle6{
  border-radius: 50px;
  border: 1px solid red;
  height: 28px;
  width: 28px;
  border-color: brown;
  background-color: brown;
  display: inline-block;
}
.fas{
  font-size: 10px;
}


{/*@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 95%;
    margin-bottom: 10px;
  }

}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}*/}




/*.formBox{
  margin-top: 90px;
  padding: 50px;
}
*/.formBox  h1{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
}
.input_form_Profile{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 15px;
/*    margin-top: 16%;*/
}
.checkbox_form_Profile{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 15px;
}
.inputBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.inputBox .inputText{
  position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 5px;  
    /*border-bottom: 1px solid rgba(0,0,0,.5);*/
}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
  .textarea_profile{
    height: 100px !important;
    width: 88%;
    background-color: #e1e1e1;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px;
    margin-left: 6%;
  }
  .labelcustome{
      color: rgb(203, 157, 108);
      border: none;
      width: 100%;
      text-align: center;
      margin-top: 2%;
      background-color: #e1e1e1;
      font-size: 15px;
      font-family: playfair display;
      padding: 13px;
  }
  .upload_dress_mb{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 11px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
  .textarea_profile{
    height: 100px !important;
    width: 88%;
    background-color: #e1e1e1;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px;
    margin-left: 2%;
  }
   .labelcustome{
     color: rgb(203, 157, 108);
    border: none;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    background-color: #e1e1e1;
    font-size: 15px;
    font-family: playfair display;
    padding: 13px;
    margin-left: -15%;
  }
  .upload_dress_mb{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 11px;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
  .textarea_profile{
      height: 100px !important;
      width: 88%;
      background-color: #e1e1e1;
      border: none;
      outline: none;
      font-size: 15px;
      padding: 8px;
      margin-left: 2%;
  }
   .labelcustome{
      color: rgb(203, 157, 108);
      border: none;
      width: 100%;
      text-align: center;
      margin-top: 2%;
      background-color: #e1e1e1;
      font-size: 15px;
      font-family: playfair display;
      padding: 13px;
      margin-left: 15%;
  }
  .upload_dress_mb{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 11px;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .textarea_profile{
      height: 100px !important;
      width: 88%;
      background-color: #e1e1e1;
      border: none;
      outline: none;
      font-size: 15px;
      padding: 8px;
      margin-left: 2%;
  }
   .labelcustome{
      color: rgb(203, 157, 108);
      border: none;
      width: 100%;
      text-align: center;
      margin-top: 2%;
      background-color: #e1e1e1;
      font-size: 15px;
      font-family: playfair display;
      padding: 13px;
  }
  .upload_dress_mb{
    font-family: playfair display;
    color: #9b9b9b;
    font-size: 11px;
  }
}

.focus .inputText{
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #00bcd4;

}

.buttonsave{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgb(203, 157, 108);
    color: #353535;
    font-family: playfair display;
}
.buttoncancel{
     width: 100%;
    border: none;
    outline: none;
    background-color: #e1e1e1;
    color: rgb(203, 157, 108);
    font-family: playfair display;
    padding: 10px;
}

.disabledButton {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: gray;
    color: #fff;
}



input[type="file"] {
    display: none;
}
.checkout>button{
    margin-right: 23px;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    content:''
}
.checkout>button:after{
  content:'Pay';
  visibility: visible;
}
.Heading22{
  line-height: 4px;
  text-align: center;
}
.headings22{
  color: #c2073f;
  font-family: Sacramento;
  font-size: 40px;
  margin-bottom: 0px;
}
.img-circle22{
  height: 200px;
  width: 200px;
}

.img22{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 4px solid #c2073f;
}
.imgs22{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #c2073f;
}
.pichead22{
  font-family: Sacramento;
  font-size: 30px;
  width: 165px;
  color: black;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
    .googleapp{
        width: 70%;
        margin-left: 21%;
      }
    .google2{
            margin-right: 0%;
      }
      .productStar{
            color: yellow;
            font-size: 17px;
            margin-left: 6%;
            margin-top: 0%;
      }
      .productRating{
               padding: 0;
              margin-top: -13%;
              margin-left: 84%; 
      }
  }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .googleapp{
            width : 85%;
            margin-left :  15%;
      }
  .google2{
            margin-right: 0%;
    }
     .productStar{
            color: yellow;
            font-size: 17px;
            margin-left: 0%;
            margin-top: 0%;
      }
      .productRating{
           padding: 0;
          margin-top: -12%;
          margin-left: 34%; 
      }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
  .googleapp{
            width: 100%;
            margin-left: 3%;
      }
      .google2{
            margin-right: 2%;
    }
    .productStar{
            color: yellow;
            font-size: 17px;
            margin-left: -17%;
      }
      .productRating{
               padding: 0;
              margin-top: -24%;
              margin-left: 55%;
      }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
  .googleapp{
            width : 85%;
            margin-left :  10%;
            width : 85%;
            margin-left :  11%;
            text-align: center;
      }
  .google2{
            margin-right: 2%;
    }
    .productStar{
            color: yellow;
            font-size: 17px;
            margin-left: 10%;
            margin-top: 0%;
      }
      .productRating{
            padding: 0;
            margin-top: -16%;
            margin-left: 55%; 
      }
}
.tophead{
    margin-top: -3%;
}


.button .input .optgroup .select .textAreaFont {
    color: black !important;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
  .current_image{
     width: 65%;
     margin-left: 14%;
  }
   .current_dress_name{
      font-size: 25px;
      font-family: playfair display;
      color: #353535;
  }
  .current_dropdown{
    background: rgb(203, 157, 108);
    color: #353535;
    border-radius: 0px;
    border: rgb(203, 157, 108);
    margin-left: -30%;
  }
  .current_btn_status{
     margin-left: 22%;
  } 
  .current_report_tab{
      font-size: 17px;
      font-family: playfair display;
      color: #353535;
      text-align: left;
  }
  .current_sizes{
      font-size: 13px;
      font-family: playfair display;
      margin-left: 5%;
  }
  .current_dress_price{
    font-size: 20px;
    font-family: playfair display;
    margin-left: 5%;
  }
  .current_total_price{
    font-size: 17px;
    font-family: playfair display;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
  .current_image{
     width: 75%;
     margin-left: 12%;
  }
  .current_dropdown{
    background: rgb(203, 157, 108);
    color: #353535;
    border-radius: 0px;
    border: rgb(203, 157, 108);
    margin-left: -30%;
  }
   .current_dress_name{
      font-size: 25px;
      font-family: playfair display;
      color: #353535;
      margin-left: -10%;
  }
  .current_btn_status{
     margin-left: -35%;
  } 
  .current_report_tab{
      font-size: 17px;
      font-family: playfair display;
      color: #353535;
  }
  .current_sizes{
      font-size: 13px;
      font-family: playfair display;
      margin-left: 3%;
  }
  .current_dress_price{
    font-size: 20px;
    font-family: playfair display;
    margin-left: 2%;
  }
  .current_total_price{
    font-size: 17px;
    font-family: playfair display;
    margin-left: -2%;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
  .current_image{
     width: 75%;
  }
  .current_dropdown{
    background: rgb(203, 157, 108);
    color: #353535;
    border-radius: 0px;
    border: rgb(203, 157, 108);
  }
   .current_dress_name{
      font-size: 25px;
      font-family: playfair display;
      color: #353535;
  }
  .current_btn_status{
     margin-left: -35%;
  } 
  .current_report_tab{
      font-size: 17px;
      font-family: playfair display;
      color: #353535;
  }
  .current_sizes{
      font-size: 13px;
      font-family: playfair display;
      margin-left: 3%;
  }
  .current_dress_price{
    font-size: 20px;
    font-family: playfair display;
    margin-left: 2%;
  }
  .current_total_price{
    font-size: 17px;
    font-family: playfair display;
    margin-left: -2%;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1920px){
  .current_image{
     width: 75%;
  }
  .current_dropdown{
    background: rgb(203, 157, 108);
    color: #353535;
    border-radius: 0px;
    border: rgb(203, 157, 108);
  }
  .current_dress_name{
      font-size: 25px;
      font-family: playfair display;
      color: #353535;
  }
  .current_btn_status{
     margin-left: -35%;
  } 
  .current_report_tab{
      font-size: 17px;
      font-family: playfair display;
      color: #353535;
  }
  .current_sizes{
      font-size: 13px;
      font-family: playfair display;
      margin-left: 3%;
  }
  .current_dress_price{
    font-size: 20px;
    font-family: playfair display;
    margin-left: 2%;
  }
  .current_total_price{
    font-size: 17px;
    font-family: playfair display;
    margin-left: -2%;
  }
}
.model_head_text{
    text-align: center;
    color: rgb(53, 53, 53);
    font-size: 30px;
    font-family: playfair display;
}
.model_body_text{
    text-align: center;
    color: rgb(53, 53, 53);
    font-size: 17px;
    font-family: playfair display;
}
.model_confirm_btn{
    text-align: center;
    background-color: rgb(203, 157, 108);
    color: #353535;
    font-family: playfair display;
    font-size: 13px;
    padding: 5px;
    width: 100%
}
.model_cancel_btn{
    text-align: center;
    background-color: #e1e1e1;
    color: #353535;
    font-family: playfair display;
    font-size: 13px;
    padding: 5px;
    width: 100%
}

