{/*New Header CSS*/}
.nav{
  font-size: 15px;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #c2073f;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu li {
  padding-left: 0px;
}
.head{
  margin-right: 50px;
  margin-top: 35px;
  font-size: 15px;
  font-family: Playfair Display;
  color: #cb9d6c;
}
.headCart{
	margin-right: 38px;
    margin-top: 35px;	
	font-size: 15px;
   font-family: Playfair Display;
   color: #cb9d6c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #cb9d6c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: white;}

{/*New Header CSS ENDD*/}

{/*New Banner CSS*/}

@media only screen and (min-device-width : 320px){
	.banneralign{
		margin-top: -30%;
		background-size: cover;
		width: 100%;
		height: 350px;
	}
	.relationtext{
		position: relative;
	    margin-top: -70%;
	    margin-left: 16px;
	}
	.lartext{
		font-size: 30px; 
		font-family: Playfair Display;
		color: #ffffff;
		line-height: 45px;
		margin-top: -3%;

	}
	.weltext{
		font-size: 9px;
		font-family: Tajawal;
		color: #808080;
		letter-spacing: 3px;
	}
	.smaltext{
		font-size: 9px;
	    font-family: Tajawal;
	    letter-spacing: 1px;
	    margin-left: 20%;
	    color: #808080;
	    margin-top: -25px;
	}
	.arrowimg{
	    margin-top: -76px;
	}
	.scrollimag{
		margin-top: -48px;
    	height: 70px;
	}
	.banerleaf{
		
	}
}
@media only screen and (min-device-width : 768px){
	.banneralign{
		margin-top: -14%;
		background-size: cover;
		width: 100%;
		height: 580px;
	}
	.relationtext{
		position: relative;
	    margin-top: -60%;
	    margin-left: 3%;
	}
	.lartext{
		font-size: 70px;
	    font-family: Playfair Display;
	    color: #ffffff;
	    line-height: 100px;
	    margin-top: -3%;
	    margin-left: -5px;
	}
	.weltext{
		font-size: 12px;
		font-family: Tajawal;
		color: #808080;
		letter-spacing: 5px;
	}
	.smaltext{
		font-size: 13px;
	    font-family: Tajawal;
	    letter-spacing: 3px;
	    margin-left: 1%;
	    color: #808080;
	}
	.arrowimg{
		margin-top: -18px;
    	margin-left: -32%;
	}
	.scrollimag{
		margin-top: -12px;
    	height: 100px;
	}
	.banerleaf{
		
	}
}
@media only screen and (min-device-width : 1024px){
	.banneralign{		
		margin-top: -11%;
	    background-size: cover;
	    width: 100%;
	    height: 828px;
	}
	.relationtext{
		position: relative;
	    margin-top: -64%;
	    margin-left: 48px;
	}
	.lartext{
		font-size: 100px; 
		font-family: Playfair Display;
		color: #ffffff;
		line-height: 150px;
		margin-top: -3%;
		margin-left: -5px;
	}
	.weltext{
		font-size: 12px;
		font-family: Tajawal;
		color: #808080;
		letter-spacing: 5px;
	}
	.smaltext{
		font-size: 12px;
		font-family: Tajawal;
		letter-spacing: 2px;
		margin-left: -6%;
		color: #808080;
	}
	.arrowimg{
		margin-top: -20px;
    	margin-left: -22%;
	}
	.scrollimag{
		margin-top: 40px;
	}
	.banerleaf{
		
	}
}
@media only screen and (min-device-width : 1366px){
	.banneralign{
		margin-top: -9%;
	    background-size: cover;
	    width: 100%;
	    height: 622px;
	}
	.relationtext{
		position: relative;
	    margin-top: -47%;
	    margin-left: 110px;
	}
	.lartext{
		font-size: 79px;
	    font-family: Playfair Display;
	    color: #ffffff;
	    line-height: 119px;
	    margin-top: -3%;
	    margin-left: -5px;
	}
	.weltext{
		    font-size: 12px;
		    font-family: Tajawal;
		    color: #808080;
		    letter-spacing: 5px;
	}
	.smaltext{
		font-size: 12px;
		font-family: Tajawal;
		letter-spacing: 2px;
		margin-left: -6%;
		color: #808080;
	}
	.arrowimg{
		margin-top: -69px;
	    margin-left: -23%;
	}
	.scrollimag{
		margin-top: -34px;
	}
	.banerleaf{
		margin-top: 15%;
	}
}
{/*New Banner CSS ENDS*/}



{/*New heading panal CSS */}
.weldrent{
	text-align: center;
	font-size: 50px;
	font-family: Playfair Display;
	color:#353535;
}
.subtext{
	font-size: 15px;
	font-family: Tajawal;
	color: #9b9b9b;
	text-align: center;
}

{/*New heading panal ENDS*/}


{/*New heading2 panal*/}

.catetext{
	font-size: 12px;
	font-family: Tajawal;
	color: #808080;
	letter-spacing: 6px;
	margin-left: 1%;
    margin-bottom: 1%;
}
.bigcatetext{
	font-size: 45px;
	font-family: Playfair Display;
	color: #353535;
}
@media only screen and (min-device-width : 360px){
	.divpurple{
		    background-color: #463362;
		    text-align: center;
		    width: 50%;
		    margin-left: 20%;
		    margin-bottom: 11%;
	}
	.dresimage{
		    height: 155px;
		    width: 60%;
		    margin-top: 22px;
		    margin-bottom: 25px;
	}
} 
@media only screen and (min-device-width : 768px){
	.divpurple{
		background-color: #463362;
	    text-align: center;
	    width: 27%;
	    margin-left: 5%;
	}
	.dresimage{
		height: 155px;
	    width: 35%;
	    margin-top: 22px;
	    margin-bottom: 25px;
	}
} 
@media only screen and (min-device-width : 1024px){
	.divpurple{
		background-color: #463362;
	    text-align: center;
	    width: 27%;
	    margin-left: 5%;
	}
	.dresimage{
		height: 155px;
	    width: 35%;
	    margin-top: 22px;
	    margin-bottom: 25px;
	}
} 
@media only screen and (min-device-width : 1366px){
	.divpurple{
		background-color: #463362;
	    text-align: center;
	    width: 27%;
	    margin-left: 5%;
	}
	.dresimage{
		height: 155px;
	    width: 35%;
	    margin-top: 22px;
	    margin-bottom: 25px;
	}
} 

.casualtext{
	color: #ffffff;
    margin-left: -47%;
    font-family: playfair display;
    letter-spacing: 1px;
}
.samitext{
    color: #ffffff;
    margin-left: -14%;
    font-family: playfair display;
    letter-spacing: 0px;
}
.arimag{
	    margin-top: -23%;
    width: 50%;
    margin-left: -41%;
}

{/*New heading2 panal ENDS*/}

{/*New heading3 panal*/}

.howwork{
	font-size: 12px;
	font-family: Tajawal;
	color: #808080;
	letter-spacing: 6px;
}
.rentwork{
	font-size: 40px;
	font-family: Playfair Display;
	color: #353535;
}
@media only screen and (min-device-width : 360px){
	.iconimg{
		height: 100px;
	}
	.iconimg2{
		height: 100px;
	}
	.iconimg3{
		height: 100px;
	}
}
@media only screen and (min-device-width : 768px){
	.iconimg{
	    height: 100px;
    	margin-left: -35%;
	}
	.iconimg2{
		height: 100px;
		margin-left: -40%;
	}
	.iconimg3{
		height: 90px;
		margin-left: -45%;
	}
}
@media only screen and (min-device-width : 1024px){
	.iconimg{
		height: 100px;
    	margin-left: -16%;
	}
	.iconimg2{
	    height: 100px;
    	margin-left: -22%;
	}
	.iconimg3{
		height: 86px;
   		 margin-left: -24%;
	}
}
@media only screen and (min-device-width : 1366px){
	.iconimg{
		height: 100px;
		margin-left: -30%;
	}
	.iconimg2{
		height: 100px;
		margin-left: -41%;
	}
	.iconimg3{
		height: 90px;
    	margin-left: -40%;
	}
}
.chosedres{
	font-size: 25px; 
	font-family: Playfair Display;
}
.chosedetail{
	font-size: 12px;
	font-family: Tajawal;
	color: #808080;
}


{/*New heading3 panal ENDS*/}

{/*New heading4new panal*/}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
	.imgwidth{
		height: 280px;
		position: relative;
	}
	.rwmarg{

	}
	.margimag{

	}
	.leftimg{
		
	}
	.feainnertext{
	 	font-size: 31px;
	 	font-family: playfair display;
	 	color: #ffffff;
	}
	.feainsmaltext{
		font-size: 12px;
		font-family: tajawal;
		color: #808080;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
	.imgwidth{
		height: 280px;
		position: relative;
	}
	.rwmarg{

	}
	.margimag{

	}
	.leftimg{
		
	}
	.feainnertext{
	 	font-size: 31px;
	 	font-family: playfair display;
	 	color: #ffffff;
	}
	.feainsmaltext{
		font-size: 12px;
		font-family: tajawal;
		color: #808080;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
	.imgwidth{
		height: 250px;
		position: relative;
	}
	.rwmarg{
		margin-left: -40px;
	}
	.margimag{
		margin-left: 7%;
	}
	.leftimg{
		margin-left: 13%;
	}
	.feainnertext{
	 	font-size: 31px;
	 	font-family: playfair display;
	 	color: #ffffff;
	}
	.feainsmaltext{
		font-size: 12px;
		font-family: tajawal;
		color: #808080;
	}
}
@media only screen and (min-device-width : 1366px){
	.imgwidth{
		height: 280px;
		position: relative;
		-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
		box-shadow: 0 8px 6px -6px black;
	}
	.rwmarg{

	}
	.margimag{

	}
	.leftimg{

	}
	.feainnertext{
	 	font-size: 31px;
	 	font-family: playfair display;
	 	color: #ffffff;
	}
	.feainsmaltext{
		font-size: 12px;
		font-family: tajawal;
		color: #808080;
	}
}

.featuredhead{
	font-size: 40px;
	font-family: Playfair Display;
	color: #353535;
}
.featuresub{
	font-size: 12px;
	font-family: Tajawal;
	color: #808080;
	letter-spacing: 5px;
	margin-left: 2px;
	margin-bottom: 3px;
}


.relat{
	position: relative;
}
.absoul{
	position: absolute;
    margin-top: -58%;
    margin-left: 4%;
}
.featarrowtext{
	font-size: 12px;
    font-family: Tajawal;
    letter-spacing: 4px;
    margin-left: -13%;
    color: #808080;
}
.featarrow{
	margin-left: -8%;
	margin-top: -12%;
}
{/*New heading4new panal ENDS*/}

{/*New heading5 panal*/}

.benetext{
	font-size: 12px;
    font-family: Tajawal;
    letter-spacing: 4px;
    color: #808080;
}
.whydrenttext{
	font-size: 40px;
	font-family: Playfair Display;
	color: #353535;
}
.whydresub{
    font-size: 30px;
    line-height: 31px;
    font-family: Playfair Display;
}
.whydresmal{
	    font-size: 12px;
    font-family: Tajawal;
    color: #808080;
}
.makemoney{
	margin-top: 8%;
	margin-bottom: 15px;
}
.payless{
	margin-top: 5%;
	margin-bottom: 15px;
}
.wearnew{
	margin-bottom: 15px;
}
.whatsnewhead{
	font-family: Playfair Display;
	font-size: 20px;
	color: #ffffff;
}
.smaltexthead{
	font-size: 12px;
    font-family: Tajawal;
    color: #808080;
}
.divcolour{
	background-color: #63488a;
	padding-top: 15px;
}
.arrowimage{
	margin-top: -15px;
}

{/*New heading5 panal ENDS*/}

{/*New Footer panal*/}
@media only screen and (min-device-width : 320px){
	.quickfooter{
		font-size: 35px;
		font-family: Playfair Display ;
		color: #ffffff;
	}
}
@media only screen and (min-device-width : 768px){
	.quickfooter{
		font-size: 35px;
		font-family: Playfair Display ;
		color: #ffffff;
	}
}
@media only screen and (min-device-width : 1024px){
	.quickfooter{
		font-size: 25px;
		font-family: Playfair Display ;
		color: #ffffff;
	}
}
@media only screen and (min-device-width : 1366px){
	.quickfooter{
		font-size: 35px;
		font-family: Playfair Display ;
		color: #ffffff;
	}
}
.footernav{
	font-size: 12px;
    font-family: Playfair Display;
    color: #cb9d6c;
    margin-right: 14px;
}
.footernavpro{
	font-size: 12px;
    font-family: Playfair Display;
    color: #cb9d6c;
    margin-right: 12px;
    margin-top: -14px;
}
.contmailfoot{
	font-size: 15px;
	font-family: Playfair Display;
	color : #cb9d6c;
	margin-left: -23%;
}
.contnofoot{
	font-size: 15px;
	font-family: Playfair Display;
	color : #cb9d6c;
}
.instaicon{
	margin-left: 14%;
}
.scrollfoot{
	    height: 90px;
    margin-top: -45px;
}

.rowpaddmarg{
    padding-bottom: 48px;
    margin-top: 3%;
}
.copyrightfoot{
	text-align: center;
	background-color: #2a1f3b;
}
.copytext{
	color: #ffffff;
	font-size: 13px;
	padding-top: 10px;
}
.stage{
	text-align: center;
}
{/*New Footer panal ENDS*/}
































@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.mnp{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.mnp{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.mnp{
		width: 103%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.mnp{
		width: 100%;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.mnp3{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.mnp3{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.mnp3{
		width: 103%;
		margin-right: 10px;
		margin-left: 10px;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.mnp3{
		width: 100%;
	}
}









@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.panel2how{
		    width: 100%;
    		margin-top: 3%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.panel2how{
		     width: 100%;
    		 margin-top: -10%;
    	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.panel2how{
		     width: 100%;
    		margin-top: -10%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.panel2how{
		    width: 90%;
    		margin-top: -10%;
    		height: 284px;
	}
}
