{/*New Header CSS*/}
.nav{
  font-size: 15px;
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #c2073f;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu li {
  padding-left: 0px;
}
.head{
  margin-right: 50px;
  margin-top: 35px;
  font-size: 15px;
  font-family: Playfair Display;
  color: #cb9d6c;
}
.headCart{
	margin-right: 38px;
    margin-top: 35px;	
	font-size: 15px;
   font-family: Playfair Display;
   color: #cb9d6c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #cb9d6c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: white;}

{/*New Header CSS ENDD*/}

{/*New Banner CSS*/}

@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.banneralign{
		margin-top: -7%;
		background-size: cover;
		width: 100%;
			position: absolute;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.banneralign{
		margin-top: -14%;
		background-size: cover;
		width: 100%;
			position: absolute;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.banneralign{		
		margin-top: -10%;
		background-size: cover;
		width: 100%;
			position: absolute;
}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.banneralign{
		margin-top: -7%;
		background-size: cover;
		width: 100%;
			position: absolute;
	}
}
.weltext{
	font-size: 12px;
	font-family: Tajawal;
	color: #808080;
	letter-spacing: 5px;
}
.lartext{
	font-size: 100px; 
	font-family: Playfair Display;
	color: #ffffff;
	line-height: 150px;
	margin-top: -3%;
	margin-left: -5px;
}
.smaltext{
	font-size: 12px;
	font-family: Tajawal;
	letter-spacing: 2px;
	margin-left: -6%;
	color: #808080;
}
.arrowimg{
	margin-top: -20px;
    margin-left: -23%;
}
.relationtext{
	position: relative;
}
{/*New Banner CSS ENDS*/}


@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.mnp{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.mnp{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.mnp{
		width: 103%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.mnp{
		width: 100%;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.mnp3{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.mnp3{
    	width: 100%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.mnp3{
		width: 103%;
		margin-right: 10px;
		margin-left: 10px;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.mnp3{
		width: 100%;
	}
}









@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.panel2how{
		    width: 100%;
    		margin-top: 3%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.panel2how{
		     width: 100%;
    		 margin-top: -10%;
    	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.panel2how{
		     width: 100%;
    		margin-top: -10%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.panel2how{
		    width: 90%;
    		margin-top: -10%;
    		height: 284px;
	}
}
