.hello{
	     font-size: 69%; 

}




.flu{
     text-align: center;
     border: 2px solid black;
     border-radius: 50%;
     height: 70px;
     width: 70px;
     display: inline-block;
     margin-left: 3%;
}
.fluu{
	text-align: center;
     border: 2px solid black;
     border-radius: 50%;
     height: 70px;
     width: 70px;
     display: inline-block;
}

.aroundsize{
	margin-top: 25px;
}
.round{
	display: inline-block;
}
.roundnround{
    font-size: 12px;
    color: black;
}
.roundnround2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: -2%;
    margin-left: -3%;
}
.roundnround3{
	margin-top: -12%;
}


@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.sams{
		border: 1px solid #c2073f;
    	height: 47px;
    	margin-left: 7px;
    	padding: 0px;
   		 width: 97%;  
	}
	.name{
	    margin-top: 22px;
	    margin-left: -12%;
	    font-size: 22px;
	    color: black;
	}
	.trello1{
		margin-left: -15px;
	}
	.trello2{
		margin-left: 1%;
	}
	.bookedboo{
		margin-top: -36%;
	    font-size: 16px;
	    margin-left: -8%;
	}
	.bookedbook{
		width: 63%;
	    border-radius: 50%;
	    height: 75px;
	        border: 3px solid #c2073f;
	}
	.run1{
		border: none;
		margin-top: 4px;
		width: 117%;
	}
	.run2{
		border: none;
		margin-top: 4px;
		width: 117%;
	}
	.bravoo{
      	 width: 87%;
	    background-color: #c2073f;
	    padding: 0px;
	    margin-left: 29px;
	    margin-top: -3%;
	}
	.booked{
      	width: 90%;
	     background-color: yellow;
	    padding: 0px;
	    margin-left: 20px;
	  	margin-top: -3%;
	}
	.roundnround2{
        text-align: center;
	    margin-top: 18%;
	    margin-bottom: -2%;
	    margin-left: -3%;
	}
	.tablemargin{
	    margin-left: -9%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.sams{
		   border: 1px solid #c2073f;
    		height: 47px;
    		margin-left: 58px;
    		padding: 0px;
    		width: 67%;  
	}
	.name{
	    margin-top: 12px;
    		margin-left: -28%;
    				font-size: 22px;
    		color: black;
	}
	.trello1{
		margin-left: -2px;
	}
	.trello2{
	    margin-left: 8%;
	}
	.bookedboo{
		margin-top: -10%;
		font-size: 17px;
	}
	.bookedbook{
		width: 56%;
	    border-radius: 50%;
	    height: 105px;
	    border: 3px solid #c2073f
	}
	.run1{
		border: none;
		margin-top: 4px;
	}
	.run2{
		border: none;
		margin-top: 4px;
	}
	.bravoo{
      	width: 67%;
    	background-color: #c2073f;
    	padding: 0px;
    	margin-left: 56px;
    	margin-top: -2%;
	}
	.booked{
      	    width: 63%;
		    background-color: yellow;
		    padding: 0px;
		    margin-left: 55px;
		    margin-top: -4%;
	}
	.tablemargin{
	    margin-left: 0px;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.sams{
		border: 1px solid #c2073f;
	    height: 47px;
	    margin-left: 24px;
	    padding: 0px;
	    width: 97%;  
	}
	.name{
	    margin-top: 19px;
    	margin-left: -6%;
    	font-size: 22px;
    	color: black;
	}
	.trello1{
		margin-left: -14px;
	}
	.trello2{
		margin-left: 9%;
	}
	.bookedboo{
	    margin-top: -8%;
    	font-size: 16px;
    	margin-left: 5%;
	}
	.bookedbook{
	    width: 85%;
	    border-radius: 50%;
	    height: 75px;
	        border: 3px solid #c2073f;
	}
	.run1{
		border: none;
		margin-top: 4px;
		width: 142%;
	}
	.run2{
		border: none;
		margin-top: 4px;
		width: 142%;
	}
	.bravoo{
      	width: 98%;
	      background-color: #c2073f;
	    padding: 0px;
	    margin-left: 22px;
	  margin-top: -3%;
	}
	.booked{
      	width: 97%;
	      background-color: yellow;
	    padding: 0px;
	    margin-left: 22px;
	  margin-top: -3%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.sams{
		border: 1px solid #c2073f;
		height: 47px;
	    margin-left: 29px;
		padding: 0px;
	    width: 92%;    
	}
	.name{
	    margin-top: 21px;
    	margin-left: -14%;
    	font-size: 24px;
    	color: black;
	}
	.trello1{
		margin-left: -14px;
	}
	.trello2{
		margin-left: 8%;
	}
	.bookedboo{
		margin-top: -8%;
		font-size: 16px;
		margin-left: 4%;
	}
	.bookedbook{
		width: 67%;
	    border-radius: 50%;
	    height: 75px;
	        border: 3px solid #c2073f;
	}
	.run1{
		border: none;
		margin-top: 4px;
		width: 143%;
	}
	.run2{
		border: none;
		margin-top: 4px;
		width: 143%;
	}
	.bravoo{
  	    width: 92%;
	    background-color: #c2073f;
	    padding: 0px;
	    margin-left: 29px;
	    margin-top: -3%;
	}
	.booked{
      	width: 92%;
	    background-color: yellow;
	    padding: 0px;
	    margin-left: 29px;
	    margin-top: -3%;
	}
}
.shelter{
	margin-left: 7%;
    margin-top: 1%;
    margin-bottom: -2%;
}
.shelter2{
	    font-size: 16px;
    font-weight: 600;
}
.sam{

	font-size: 20px;
	color: #c2073f; 
	
}
.sand{
	margin-top: 5px;
	margin-left: 15px;
}
.sum{
	margin-top: 3px;
}
.suum{
	margin-top: 3px;
	margin-left: 10px;
}
.buttonsizeup{
    margin-top: 3%;
    font-size: 21px;
}


.dell{
	text-align: right;
}
.glass{
	font-size: 17px;
}
.derr{
	text-align: center;
}
.hdress{

}
.dell{
	height: 450px;
	background-color: #c2073f;
}
.tissue{
	text-align: left;
	color: white;
	margin: 0px;
	font-family: crimsontext;
}
.tissue2{

	 border-left: 2px solid black;
	 height: 400px;

}
.dar{
	color: yellow;
}
.sung{
	text-align: left;
	color: white;
	font-family: crimsontext;
}
.sungg{
	text-align: center;/**/
	color: white;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.card{
		font-family: Sacramento;
		margin-left: -15%;
		font-size: 27px;
		color: yellow;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.card{
		font-family: Sacramento;
		margin-left: -32%;
		font-size: 27px;
		color: yellow;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.card{
		font-family: Sacramento;
		margin-left: -7%;
		font-size: 27px;
		color: yellow;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.card{
		font-family: Sacramento;
		margin-left: -20%;
		font-size: 27px;
		color: yellow;
	}
}





@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.d_size{
		padding: 0px;
		margin-left: -10%;
	}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.d_size{
		padding: 0px;
		margin-left: -10%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.d_size{
		padding: 0px;
		margin-left: -0%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.d_size{
		padding: 0px;
		margin-left: -10%;
	}
}

/*.shift{
	margin-top: 10px;
}*/
.rest2{
    color: white;
    text-align: left;
    font-size: 17px;

}
.bottoom{
	border-bottom: 2px solid black;
}
.point{
	color: white;
	text-align: center;
	font-size: 17px;
    margin-left: 7px;
    margin-right: 10px;
    font-family: crimsontext;
}

.action{
	
	background-color: #c2073f;
}
.reaction{
	height: 520px;
	background-color: #c2073f;
}
.spoon{
	margin-left: 109px;
	text-align: left;
	color: white;

}
.chair{
	background-color: white;
	
}
@media (max-width: 1600px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 0px;
    width:100%;

}
}
@media (max-width: 768px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 168px;
    width:50%;

}
}

@media (max-width: 360px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 0px;
    width:100%;

}
}
.form-group .form-control{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	
}

.labelcustome{
    color: #ffffff;
    border:1px solid #c2073f;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    background-color: #c2073f; 
}


.mouse{
	background-color: #c2073f;

}
.dell3{
	font-size: 12px;
	color: #FFC400;
}
.dell5{
	font-weight: 400;
    font-size: 18px;
}
.hell5{
	    font-size: 18px;
	    font-weight: 600;
}
.starright{
	text-align: right;
}

@media (max-width: 360px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 127px;
    width: 51%  !important;
}
}
@media (max-width: 768px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 35px;
    width: 21%;
}
}
@media (max-width: 1600px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 0px;
    width: 100%;
}
}
.poststyle{
	font-size: 20px;
    font-weight: bold;
}
.dam2{
	margin-bottom: 8px;
}
.position3{
	position: absolute;	
}
.absolute3{
	position: relative;
}
.dec{
		color: white;
		text-align: left;
		font-family: crimsontext;
	}
@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.trello4{
		font-family : Qwigley;
	    margin-left: -7%;
	    margin-top: 10%;
	}	
	.trello3{
		margin-top: 15%;
   		 font-size: 25px;
        margin-left: -4%;
	}
	.detail{
		 font-family: Qwigley;
		 color: #c2073f; 
		 margin-left: -1%;
	}
	.trend{
         font-size: 70%;
         margin-left: 3%;
    }
    .fly{
		margin-left: 6%;
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 35px;
	}    
	.detail1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 25px;
		text-align: left;
	    margin-left: 3%;
	} 
	.ulline{
		margin-left: 0px;
	}
	.rental1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 45px;
	    margin-left: 6%;
	}
	.shelterr5{
		font-family: Qwigley;
		font-size: 60px; 
		margin-left: 3%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.trello4{
		font-family : Qwigley;
	    margin-left: -15%;
	    margin-top: 10%;
	}
	.trello3{
		margin-top: 4%;
    	font-size: 25px;
    	margin-left: -11%;
	}
	.detail{
		 font-family: Qwigley;
		 color: #c2073f; 
		 margin-left: 4%;
	}
	.trend{
         font-size: 70%;
         margin-left: 6%;
	}
	.fly{
		margin-left: 8%;
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 35px;
	}
	.detail1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 25px;
		text-align: left;
	    margin-left: 6%;
	}
	.ulline{
		margin-left: 4%;
	}
	.rental1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 45px;
	    margin-left: 8%;
	}
	.shelterr5{
		font-family: Qwigley;
		font-size: 60px; 
		margin-left: 3%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.trello4{
		font-family : Qwigley;
	    margin-left: -7%;
	    margin-top: 10%;
	}
	.trello3{
		margin-top: 15%;
   		 font-size: 25px;
        margin-left: -4%;
	}
	.detail{
		 font-family: Qwigley;
		 color: #c2073f; 
		 margin-left: -1%;
	}
	.trend{
         font-size: 70%;
         margin-left: 3%;
	}
	.fly{
		margin-left: 6%;
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 35px;
	}
	.detail1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 25px;
		text-align: left;
	    margin-left: 3%;
	}
	.ulline{
		margin-left: -6px;
	}
	.rental1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 45px;
	    margin-left: 7%;
	}
	.shelterr5{
		font-family: Qwigley;
		font-size: 48px; 
		margin-left: 3%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.trello4{
		font-family : Qwigley;
	    margin-left: -7%;
	    margin-top: 10%;
	}
	.trello3{
		margin-top: 15%;
   		 font-size: 25px;
        margin-left: -4%;
	}
	.detail{
		 font-family: Qwigley;
		 color: #c2073f; 
		 margin-left: -1%;
	}
	.trend{
         font-size: 70%;
         margin-left: 3%;
	}
	.fly{
		margin-left: 6%;
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 35px;
	}
	.detail1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 25px;
		text-align: left;
	    margin-left: 3%;
	}
	.ulline{
		margin-left: 0px;
	}
	.rental1{
		font-family: Qwigley;
		color: #c2073f; 
		font-size: 45px;
	    margin-left: 6%;
	}
	.shelterr5{
		font-family: Qwigley;
		font-size: 60px; 
		margin-left: 3%;
	}
}