.hello{
	     font-size: 69%; 

}
.name{
	margin-top: 4%;
}
.detail{
	 font-family: Qwigley;
	 color: #c2073f; 
}
.trend{
         font-size: 70%;
         margin-left: 3%;

}
.fly{
	text-align: center;
	font-family: Qwigley;
	color: #c2073f; 
	font-size: 35px;
}
.flu{
     text-align: center;
     border: 2px solid black;
     border-radius: 50%;
     height: 80px;
     width: 80px;
     display: inline-block;
}
.fluu{
	text-align: center;
     border: 2px solid black;
     border-radius: 50%;
     height: 80px;
     width: 80px;
     display: inline-block;
}
.detail1{
	font-family: Qwigley;
	color: #c2073f; 
	font-size: 25px;
	text-align: left;
}
.round{
	display: inline-block;
}
.rental1{
	font-family: Qwigley;
	color: #c2073f; 
	font-size: 45px;
}
.sams{
	border: 1px solid #c2073f;
	height: 47px;
}
.sam{
	fontSize: 20px;
	color: #c2073f; 
	
}
.sand{
	margin-top: 5px;
	margin-left: 15px;
}
.sum{
	margin-top: 3px;
}
.suum{
	margin-top: 3px;
	margin-left: 10px;
}
.bravoo{
      width: 100%;
      background-color: #c2073f; 
}
.booked{
      width: 100%;
      background-color: yellow; 
}
.dell{
	text-align: right;
}
.glass{
	font-size: 17px;
}
.derr{
	text-align: center;
}
.hdress{

}
.dell{
	height: 450px;
	background-color: #c2073f;
}
.tissue{
	text-align: left;
	color: white;
}
.tissue2{

	 border-left: 2px solid black;
	 height: 400px;

}
.dar{
	color: yellow;
}
.sung{
	text-align: left;
	color: white;
}
.sungg{
	text-align: center;/**/
	color: white;
}
.shift{
	margin-top: 10px;
}
.rest2{
    color: white;
    text-align: left;
    font-size: 17px;

}
.bottoom{
	border-bottom: 2px solid black;
}
.point{
	color: white;
	text-align: center;
	font-size: 17px;
    margin-left: 7px;
    margin-right: 10px;
}

.action{
	height: 900px;
	background-color: #c2073f;
}
.reaction{
	height: 520px;
	background-color: #c2073f;
}
.spoon{
	margin-left: 109px;
	text-align: left;
	color: white;

}
.chair{
	background-color: white;
	
}
@media (max-width: 1600px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 0px;
    width:100%;

}
}
@media (max-width: 768px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 168px;
    width:50%;

}
}

@media (max-width: 360px ){ 
.ronin{
	background-color: white;
	margin-top: 35px;
	color: black;
	margin-right: 0px;
    margin-left: 0px;
    width:100%;

}
}
.form-group .form-control{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	
}

.labelcustome{
    color: #ffffff;
    border:1px solid #c2073f;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    background-color: #c2073f; 
}


.mouse{
	background-color: #c2073f;

}
.dell3{
	font-size: 12px;
	color: #FFC400;
}
.dell5{
	font-weight: 400;
    font-size: 18px;
}
.hell5{
	    font-size: 18px;
	    font-weight: 600;
}
.starright{
	text-align: right;
}

@media (max-width: 360px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 127px;
    width: 51%  !important;
}
}
@media (max-width: 768px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 35px;
    width: 21%;
}
}
@media (max-width: 1600px){
.buttonpost{
	background-color: #c2073f;
    border: 2px solid white;
    margin-left: 0px;
    width: 100%;
}
}
.poststyle{
	font-size: 20px;
    font-weight: bold;
}
.dam2{
	margin-bottom: 8px;
}
.position3{
	position: absolute;	
}
.absolute3{
	position: relative;
}
.dec{
		color: white;
		text-align: left;
	}
