.hello{
	     font-size: 69%; 

}
.name{
	margin-top: 4%;
}
.detail{
	 font-family: Qwigley;
	 color: #c2073f; 
}
.trend{
         font-size: 70%;
         margin-left: 3%;

}
.fly{
	height:"200px";
}
