#email{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
#firstname{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
#lastname{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
