/*#profile-input{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
#firstName{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
#lastName{
  margin-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}*/
