.chainbelt{
	color: #c2073f;
    font-size: 28px;
    font-weight: 500;

}
.chainbelt1{
	text-align: center;
}
.chainbelt2{
	color: #c2073f;
	font-size: 20px;
}
.chainbelt3{
		border-bottom: 3px solid #c2073f;
		text-align: center;
}
.chainbelt4{
	color: #c2073f;
    font-size: 50px;
    font-weight: 500;
    font-family: Qwigley;
}