.chainbelt{
	color: #c2073f;
    font-size: 28px;
    font-weight: 500;

}
.chainbelt1{
	text-align: center;
}
.chainbelt2{
	color: #c2073f;
	font-size: 20px;
}
.chainbelt3{
		border-bottom: 3px solid #c2073f;
		text-align: center;
}
.chainbelt4{
	color: #c2073f;
    font-size: 47px;
    font-weight: 500;
    font-family: Qwigley;
}
.chainbelt5{
	margin-top: -1%;
}
.chainbelt6{
	margin-top: -3%;
}
.chainbelt7{
	text-align: right;
	margin-left: -2%;
}
.chainbelt8{
	background: transparent;
	border-bottom: 3px solid #c2073f;
	border-top: 3px solid #c2073f; 
}
.chainbelt9{
	color: #c2073f;
	font-size: 26px;
    font-weight: 500;
}
.chainnbelt10{
	margin-top: 2%;
}
.apex1{
	    margin-top: 2%;
}
.apex2{
	background-color: #c2073f; 
}
.apex3{
	color: white;
	font-size: 26px;
    font-weight: 400;
}
.apex4{
	    text-align: center;
    margin-left: 3%;
}
.apex5{
	margin-top: 2%;
}
.apex6{
		color: #c2073f;
    font-weight: 500;
}
.apex7{
	text-align: right;
}
.apex8{
	font-size: 14px;
}
.apex9{
	margin-top: 10%;
}
.apex10{
	font-size: 14px;
	text-align: right;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align: center;
		margin-left: 20px;
		padding: 15px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align:center;
		margin-left:35px;
		padding:15px;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align:center;
		margin-left:35px;
		padding:15px;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align:center;
		margin-left:35px;
		padding:15px;
	}
}