.cart_dress_date{
	background-color: #e1e1e1;
	text-align: center;
	padding: 8px;
	color: #9b9b9b;
}

.chainbelt1{
    color: #353535;
    font-size: 40px;
    font-family: playfair display;
}



.chainbelt2{
	color: #c2073f;
	font-size: 20px;
}
.chainbelt3{
		border-bottom: 3px solid #c2073f;
		text-align: center;
}
.cart_total{
	font-size: 13px;
	font-family: playfair display;
}
.cart_price{
	font-size: 13px;
	font-family: playfair display;
	text-align: right;
}

.chainbelt5{
	margin-top: -1%;
}
.chainbelt6{
	margin-top: -3%;
}
.chainbelt7{
	text-align: right;
	margin-left: -2%;
}
.chainbelt8{
	background: transparent;
	border-bottom: 3px solid #c2073f;
	border-top: 3px solid #c2073f; 
}
.chainbelt9{
	color: #c2073f;
	font-size: 26px;
    font-weight: 500;
}
.chainnbelt10{
	margin-top: 2%;
}

.apex1{
	    margin-top: 2%;
}
.apex2{
	background-color: #c2073f; 
}

.apex3{
	color: white;
	font-size: 26px;
    font-weight: 400;
}
.apex4{
	    text-align: center;
    margin-left: 3%;
}
.apex5{
	margin-top: 2%;
}
.apex6{
		color: #c2073f;
    font-weight: 500;
}
.apex7{
	text-align: right;
}
.apex8{
	font-size: 14px;
}
.apex9{
	margin-top: 10%;
}
.apex10{
	font-size: 14px;
	text-align: right;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align: center;
		margin-left: 13px;
		padding: 15px;
	}
	.cart_marg_screen{
		margin-top: 20%;
	}
	.cart_align{
		text-align: right;
	    margin-top: -9%;
	    margin-left: 48%;
	}
	.checkout_btn{
		width: 100%;
	    background-color: #cb9d6c;
	    color: #353535;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	    margin-top: 10%;
	}
	.btn_browse_dresses{
		width: 100%;
	    color: #cb9d6c;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	    margin-top: 10%;
	    margin-bottom: -10%;
	}
	.img_of_cart_dress{
		width: 100%
	}
	.chainbelt4{
		color: #9b9b9b;
	    font-size: 30px;
	    font-family: playfair display;
	}
	.stripe_head{
		 color: #cb9d6c;
	    margin-left: 10%;
	    text-align: center;
	}
	.cart_login_text{
		text-align: center;
		margin-top: 13%;
	}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align:center;
		margin-left:38px;
		padding:15px;
	}
	.cart_marg_screen{
	
	}
	.cart_align{
		text-align: right;
	}
	.checkout_btn{
		width: 100%;
	    background-color: #cb9d6c;
	    color: #353535;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.btn_browse_dresses{
		width: 100%;
	    color: #cb9d6c;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.img_of_cart_dress{
		width: 100%
	}
	.chainbelt4{
		color: #9b9b9b;
	    font-size: 15px;
	    font-family: playfair display;
	}
	.stripe_head{
	     color: #cb9d6c;
	    margin-left: 2%;
	    text-align: center;
	    font-size: 27px;
	}
	.cart_login_text{
		text-align: center;
		margin-top: 13%;
	}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
	.househalt{
		border: 1px solid gray;
		width: 87%;
		text-align:center;
		margin-left:23px;
		padding:15px;
	}
	.cart_marg_screen{
	
	}
	.cart_align{
		text-align: right;
	}
	.checkout_btn{
		width: 100%;
	    background-color: #cb9d6c;
	    color: #353535;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.btn_browse_dresses{
		width: 100%;
	    color: #cb9d6c;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.img_of_cart_dress{
		width: 100%
	}
	.chainbelt4{
		color: #9b9b9b;
	    font-size: 15px;
	    font-family: playfair display;
	}
	.stripe_head{
		 color: #cb9d6c;
	    margin-left: 8%;
	    text-align: center;
	}
	.cart_login_text{
		text-align: center;
		margin-top: 3%;
	}
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1920px){
	.househalt{
		border: 1px solid gray;
	    width: 87%;
	    text-align: center;
	    margin-left: 22px;
	    padding: 15px;
	}
	.cart_marg_screen{
		margin: 0px;
	}
	.cart_align{
		text-align: right;
	}
	.checkout_btn{
		width: 100%;
	    background-color: #cb9d6c;
	    color: #353535;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.btn_browse_dresses{
		width: 100%;
	    color: #cb9d6c;
	    font-size: 15px;
	    font-family: playfair display;
	    padding: 8px;
	}
	.img_of_cart_dress{
		width: 100%
	}
	.chainbelt4{
		color: #9b9b9b;
	    font-size: 15px;
	    font-family: playfair display;
	}
	.stripe_head{
		 color: #cb9d6c;
	    margin-left: 8%;
	    text-align: center;
	}
	.cart_login_text{
		text-align: center;
		margin-top: 3%;
	}

}